@page "/miseventos"
@using CentroEventos.Aplicacion.Entidades;
@using CentroEventos.Aplicacion.CasosDeUso;
@rendermode InteractiveServer
@inject ServicioSesionUsuario Sesion
@inject IRepositorioEventoDeportivo RepositorioEventos
@inject EliminarEventoDeportivo eliminarEventoDeportivo
@inject ObtenerTodosEventosDeportivos obtenerEventosDeportivos

<PageTitle>Mis Eventos</PageTitle>

<h1>Mis Eventos</h1>

@if (miseventos == null)
{
    <p><em>No Tenés ninguna evento.</em></p>
}
else{
<table class="table">
   <thead>
       <tr>
           <th>ID</th>
           <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha y hora</th>
            <th>Duración</th>
            <th>Cupo máximo</th>
       </tr>
   </thead>
   <tbody>
       @foreach (var evento in miseventos)
       {
           <tr>
               <td>@evento.ID</td>
               <td>@evento.Nombre</td>
               <td>@evento.Descripcion</td>
               <td>@evento.FechaHoraInicio.ToString("dd/MM/yyyy HH:mm")</td>
               <td>@evento.DuracionHoras hs</td>
               <td>@evento.CupoMaximo</td>
               <td> 
                <button class="btn btn-primary"> Editar</button>
                <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(evento)">Eliminar</button>
               </td>
           </tr>
       }
   </tbody>
</table>
}
@code {
    private Usuario? usuarioActual;
    private List<EventoDeportivo>? miseventos;
    protected override void OnInitialized()
    {
        usuarioActual = Sesion.ObtenerUsuarioActual();

        if (usuarioActual != null)
        {
            miseventos = obtenerEventosDeportivos.Ejecutar().ToList();
        }
    }
    DialogoConfirmacion dialogo=null!;
    EventoDeportivo? _EventoParaEliminar = null;
    private void ConfirmarEliminacion(EventoDeportivo eve)
    {
        _EventoParaEliminar = eve;
       // dialogo.Mensaje = $"¿Está seguro que desea eliminar el evento deportivo {eve.Nombre}?";
       //Modificique el codigo de DialogoConfirmacion para que reciba el mensaje como parametro
        dialogo.Mostrar($"¿Está seguro que desea eliminar el evento deportivo {eve.Nombre}?");
    }
    private void Eliminar()
    {
        if (_EventoParaEliminar != null)
        {
            eliminarEventoDeportivo.Ejecutar(_EventoParaEliminar.ID);
            miseventos= obtenerEventosDeportivos.Ejecutar().ToList();
        }

    }

}
