@page "/registrar"
@using CentroEventos.Aplicacion.Interfaces
@using CentroEventos.Aplicacion.Servicio
@using CentroEventos.Aplicacion.Entidades
@inject NavigationManager Nav
@inject AltaUsusario AltaUsusario
@inject IRepositorioUsuario ServicioUsuarios
@inject ServicioSesionUsuario Sesion
@inject ServicioUsuario SUsuario

<h3>Registro de nuevo usuario</h3>

<EditForm Model="@usuario" OnValidSubmit="Registrar" FormName="registroUsuario">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <InputText placeholder="Nombre" id="nombre" class="form-control" @bind-Value="usuario.Nombre" />
        <ValidationMessage For="@(() => usuario.Nombre)" />
    </div>
    <br>
    <div class="form-group">
        <label for="apellido">Apellido:</label>
        <InputText id="apellido" @bind-Value="usuario.Apellido" class="form-control" />
        <ValidationMessage For="@(() => usuario.Apellido)" />
    </div>
    <br>
    <div class="form-group">
        <label for="email">Email:</label>
        <InputText id="email" @bind-Value="usuario.Email" class="form-control" />
        <ValidationMessage For="@(() => usuario.Email)" />
    </div>
    <br>
    <div class="form-group">
        <label for="password">Contraseña:</label>
        <InputText id="password" @bind-Value="usuario.Contrasenia" type="password" class="form-control" />
        <ValidationMessage For="@(() => usuario.Contrasenia)" />
    </div>
    <br>
    <div class="d-flex justify-content-center align-item-center">
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </div>
</EditForm>

@if (!string.IsNullOrEmpty(error))
{
    <p style="color:red">@error</p>
}

@code {
    private Usuario usuario = new();
    private string contrasenia = string.Empty;
    private string? error;

    private void Registrar()
    {
        error = null;
        
        try
        {
            usuario.Contrasenia = contrasenia;
            //SUsuario.Registrar(usuario);
            AltaUsusario.Ejecutar(usuario);
            Sesion.IniciarSesion(usuario);
            Nav.NavigateTo("/");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}
